# Fichiers de logs
*.log

# Répertoire des dépendances Composer
/vendor/

# Répertoire des dépendances Node.js
/node_modules/

# Caches et fichiers temporaires
/tmp/
.cache/
*.tmp
*.swp
*.swo

# Dossiers de compilations et déploiements
/dist/
build/

# Fichiers de configuration locaux
.env
.env.local
.env.*.local

# Configuration IDE
.vscode/
.idea/

# Fichiers de configuration Composer


# Fichiers de configuration NPM



# Fichiers de sortie et de cache
.npm/
.pnpm-store/
